main{
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

nav{
    background-color: rgb(57, 57, 57);
    height: 70px;
    box-sizing: border-box;
}

nav ul{
    margin-left: 20px;
    height: 100%;
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    cursor: pointer;
    color: white;
    font-size: 1.3em;
}

.input-cari-teman{
    border-radius: 8px;
    width: 200px;
    height: 35px;
    font-family: "Poppins";
    margin-bottom: 15px;
}

div.hasil-pencarian{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
    height: auto;
}

div.content{
    padding: 20px;
}

h1{
    height: 40px;
    width: 450px;
    border-bottom: 1px solid rgb(103, 103, 103) ;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

section.friends{
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(122, 122, 122);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 249, 255);
    box-shadow: 0 0 3px 0.3px;
    border-radius: 8px;
    border: none;
    height: 140px;
    margin: 10px 0;
    animation: open 1s;
}

@keyframes open {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.card h2{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.card h3{
    margin: 5px 0;
}

.card p{
    margin: 5px 0;
}

p.date{
    font-size: 10px;
}

.card img{

    margin:0 10px;
    width: 80px;
    height: 80px;
}

div.detail{
    width: 70%;
}

.card button{
    background-color: rgba(104, 104, 255, 0.807);
    border: none;
    border-radius: 5px;
    height: 30px;
    color: white;
    cursor: pointer;
    font-family: "Poppins";
    transition: 0.5s;
}

.card button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px 1px rgb(74, 74, 74);
    background-color: rgb(77, 77, 255);
}

.kosong h2{
    font-size: 50px;
    color: rgb(153, 153, 153);
}