main{
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    font-size: 75%;
}

nav{
    background-color: rgb(57, 57, 57);
    height: 70px;
    box-sizing: border-box;
}

nav ul{
    margin-left: 20px;
    height: 100%;
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    cursor: pointer;
    color: white;
    font-size: 1.3em;
}

.input-cari-teman{
    border: 1px solid rgb(67, 67, 67);
    border-radius: 5px;
    width: 200px;
    height: 35px;
    font-family: "Poppins";
    margin-bottom: 15px;
}

div.hasil-pencarian{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    padding: 20px;
    height: auto;
}

div.content{
    padding: 20px;
}

h1{
    height: 40px;
    width: 450px;
    border-bottom: 1px solid rgb(103, 103, 103) ;
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
    font-family: "Josefin Sans";
}

section.friends{
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(122, 122, 122);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    width: 29%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(243, 249, 255);
    box-shadow: 0 0 3px 0.3px;
    border-radius: 8px;
    border: none;
    height: 160px;
    margin: 10px 0;
    transform: scale(0);
    animation: open 1s;
    animation-fill-mode: forwards;
    transition: 1s;
}


@keyframes open {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.hide{
    animation: close 1s;
    animation-fill-mode: forwards;
}

@keyframes close {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.card h2{
    line-height: 1.3em;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card h3{
    margin: 10px 0;
}

.card p{
    margin: 5px 0;
}

p.date{
    font-size: 10px;
}

.card img{

    margin:0 10px;
    width: 80px;
    height: 80px;
}

div.detail{
    width: 50%;
}

.card button{
    background-color: rgba(104, 104, 255, 0.807);
    border: none;
    border-radius: 5px;
    height: 40px;
    color: white;
    cursor: pointer;
    font-family: "Poppins";
    transition: 0.5s;
}

.card button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 3px 1px rgb(74, 74, 74);
    background-color: rgb(77, 77, 255);
}

.kosong h2{
    font-size: 30px;
    color: rgb(153, 153, 153);
}

@media screen and (max-width:1020px) {
    .card{
        width: 46%;
    }
    h1{
        width: 100%;
    }
}

@media screen and (max-width:660px) {
    .kosong h2{
        font-size: 12px;
    }
    
    nav ul{
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
    }

    .card{
        width: 100%;
    }
}
