<<<<<<< HEAD
.property {
    width: 69%;
=======
.property{
    width: 73%;
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

<<<<<<< HEAD
.search {
    border: none;
    border-bottom: 1px black solid;
    font-family: 'Poppins';
    padding: 4px;
    outline: none;
    width: 210px;
}

div.search-box {
    width: 80%;
}

div.search-box input {
=======
div.search-box{
    width: 80%;
}

div.search-box input{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    margin: 10px 0 20px 0;
    width: 40%;
    height: 30px;
    font-family: "Poppins";
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
    background-color: rgb(223, 223, 223);
    transition: 0.5s;
}

<<<<<<< HEAD
div.search-box input:focus {
=======
div.search-box input:focus{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    outline: none;
    background-color: white;
    border: 1px solid rgb(65, 65, 65);
}

<<<<<<< HEAD
.delete-note,
.delete-action,
.cancel-delete {
=======
.delete-note, .delete-action, .cancel-delete{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    cursor: pointer;
    height: 30px;
    width: 80px;
    background-color: rgba(165, 42, 42, 0.723);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    font-family: "Poppins";
}

<<<<<<< HEAD
.delete-note:hover {
    background-color: brown;
}

.option {
=======
.delete-note:hover{
    background-color: brown;
}

.option{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
.content {
=======
.content{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

<<<<<<< HEAD
.notes {
=======
.notes{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 70%;
    display: flex;
    justify-content: space-between;
}


<<<<<<< HEAD
.note {
    cursor: pointer;
    position: relative;
    width: 98%;
=======
.note{
    cursor: pointer;
    position: relative;
    width:98%;
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0.5px rgb(42, 40, 40);
    padding: 14px;
    border-radius: 5px;
    border: none;
<<<<<<< HEAD
    box-sizing: border-box;
    transition: 0.5s;
}

.note:hover {
    background-color: white;
    position: sticky;
    z-index: 9;
    /* transform: scale(1.1); */
}

div.left,
div.right {
    width: 50%;
}

.note p {
=======
	box-sizing:border-box;
    transition: 0.5s;
}

.note:hover{
    background-color: white;
    position: sticky;
    z-index: 9;
    transform: scale(1.1);
}

div.left, div.right{
    width: 50%;
}

.note p{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    word-wrap: break-word;
    margin-bottom: 10px;
    line-height: 1.2em;
}

<<<<<<< HEAD
.note h2 {
=======
.note h2{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    font-size: 1.7em;
    margin-bottom: 10px;
    font-weight: 100;
}

<<<<<<< HEAD
.note input {
=======
.note input{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}


<<<<<<< HEAD
section.lists {
    width: 30%;
}

section.lists h2 {
=======
section.lists{
    width: 30%;
}

section.lists h2{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
}

<<<<<<< HEAD
ul.list {
=======
ul.list{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 2px 0.5px rgb(42, 40, 40);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

<<<<<<< HEAD
.delete-list {
=======
.delete-list{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    position: absolute;
    top: 5px;
    left: 5px;
}

<<<<<<< HEAD
ul.list h3 {
=======
ul.list h3{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    margin-bottom: 15px;
    font-size: 1.4em;
    text-align: center;
}

<<<<<<< HEAD
.new-list-button {
=======
.new-list-button{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
li.item,
li.new-item {
=======
li.item, li.new-item{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

<<<<<<< HEAD
li.item i {
=======
li.item i{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

<<<<<<< HEAD
li.item:hover i {
    color: rgb(0, 0, 0);
}

.item-property {
=======
li.item:hover i{
    color: rgb(0, 0, 0);
}

.item-property{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 21%;
}

<<<<<<< HEAD
.item p {
    width: 78%;
}

li.item input {
=======
.item p{
    width: 78%;
}

li.item input{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    height: 15px;
    width: 15px;
}

<<<<<<< HEAD
li.new-item {
    justify-content: flex-start;
}

li.new-item input {
=======
li.new-item{
    justify-content: flex-start;
}

li.new-item input{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    border: 1px solid black;
    font-family: "Poppins";
    font-size: 1em;
}

<<<<<<< HEAD
li.new-item button {
=======
li.new-item button{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    background-color: rgb(76, 76, 76);
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    height: 30px;
    font-family: "Poppins";
}

<<<<<<< HEAD
.new-note-button {
=======
.new-note-button{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    cursor: pointer;
    background-color: rgb(35, 35, 35);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    position: fixed;
    right: 25%;
<<<<<<< HEAD
    bottom: 10px;
=======
    bottom:10px;
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

<<<<<<< HEAD
.new-note-button i {
    color: white;
}

.new-note {
=======
.new-note-button i{
    color: white;
}

.new-note{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    padding-top: 30px;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    border: none;
    align-items: center;
<<<<<<< HEAD
    /* scale: 0; */
    animation: open 1s;
}

.hide {
    animation: close 1s;
}

@keyframes close {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes open {
=======
    scale: 0;
    animation: open 1s;
}

@keyframes open{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    0% {
        transform: scale(0);
    }

<<<<<<< HEAD
    100% {
=======
    100%{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
        transform: scale(1);
    }
}

<<<<<<< HEAD
.new-note>div {
=======
.new-note > div{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

<<<<<<< HEAD
.new-note .close {
=======
.new-note .close{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    right: 0px;
    top: 10px;
    /* background-color: black; */
}

<<<<<<< HEAD
.new-note form {
=======
.new-note form{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
}

<<<<<<< HEAD
.new-note input {
=======
.new-note input{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    font-size: 1.5em;
    padding: 8px;
    width: 100%;
    height: 45px;
    font-family: "Poppins";
    border-radius: 5px;
    border: 1px solid rgb(60, 60, 60);
    box-sizing: border-box;
}

<<<<<<< HEAD
.new-note input:focus,
.new-note textarea:focus {
=======
.new-note input:focus, .new-note textarea:focus{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    border: 1px solid rgb(60, 60, 60);
    outline: none;
}

<<<<<<< HEAD
.new-note textarea {
=======
.new-note textarea{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    font-size: 1em;
    margin: 14px 0;
    padding: 8px;
    width: 100%;
    height: 95%;
    font-family: "Poppins";
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(60, 60, 60);
}

<<<<<<< HEAD
.new-note button {
=======
.new-note button{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    cursor: pointer;
    width: 10%;
    height: 40px;
    background-color: rgba(111, 111, 255, 0.716);
    font-family: "Poppins";
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

<<<<<<< HEAD
.new-note button:hover {
    background-color: rgb(90, 90, 247);
}

.new-list-action {
    background-color: rgb(192, 192, 255);
}

.button-group>button {
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    padding: 4px 14px;
    font-family: 'Poppins';
}

#new-list-input {
    width: 96%;
    padding: 3px 6px;
    border-radius: 5px;
    font-family: 'Poppins';
    border: 1px rgb(119, 119, 119) solid;
    /* height: 100px; */
}

span {
=======
.new-note button:hover{
    background-color: rgb(90, 90, 247);
}

span{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    text-align: center;
}

@media screen and (max-width:1000px) {

<<<<<<< HEAD
    .property {
=======
    .property{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
        margin: 0;
        width: 100%;
    }

<<<<<<< HEAD
    .content {
        flex-direction: column;
    }

    .content>section {
        width: 100%;
    }

    .new-note-button {
=======
    .content{
        flex-direction: column;
    }

    .content > section{
        width: 100%;
    }

    .new-note-button{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
        right: 10px;
    }
}

@media screen and (max-width:720px) {
<<<<<<< HEAD
    main {
        padding: 4px;
    }

    .note h2 {
        font-size: 1.3em;
    }

    .note p {
        font-size: 0.8em;
    }

    li.item i {
        color: rgb(0, 0, 0);
    }

    .button-group-note {
        width: 100%;
    }

    .button-group-note>button {
        width: 40%;
    }

=======
    main{
        padding: 4px;
    }

    .note h2{
        font-size: 1.3em;
    }

    .note p{
        font-size: 0.8em;
    }

    li.item i{
        color: rgb(0, 0, 0);
    }
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
}