.property{
    width: 73%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

div.search-box{
    width: 80%;
}

div.search-box input{
    margin: 10px 0 20px 0;
    width: 40%;
    height: 30px;
    font-family: "Poppins";
    border-radius: 10px;
    border: 1px solid rgb(48, 48, 48);
    background-color: rgb(223, 223, 223);
    transition: 0.5s;
}

div.search-box input:focus{
    outline: none;
    background-color: white;
    border: 1px solid rgb(65, 65, 65);
}

.delete-note, .delete-action, .cancel-delete{
    cursor: pointer;
    height: 30px;
    width: 80px;
    background-color: rgba(165, 42, 42, 0.723);
    color: white;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
    font-family: "Poppins";
}

.delete-note:hover{
    background-color: brown;
}

.option{
    display: flex;
    justify-content: space-between;
}

.content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.notes{
    width: 70%;
    display: flex;
    justify-content: space-between;
}


.note{
    cursor: pointer;
    position: relative;
    width:98%;
    margin-bottom: 10px;
    box-shadow: 0 0 2px 0.5px rgb(42, 40, 40);
    padding: 14px;
    border-radius: 5px;
    border: none;
	box-sizing:border-box;
    transition: 0.5s;
}

.note:hover{
    background-color: white;
    position: sticky;
    z-index: 999;
    transform: scale(1.1);
}

div.left, div.right{
    width: 50%;
}

.note p{
    word-wrap: break-word;
    margin-bottom: 10px;
    line-height: 1.2em;
}

.note h2{
    font-size: 1.7em;
    margin-bottom: 10px;
    font-weight: 100;
}

.note input{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
}


section.lists{
    width: 30%;
}

section.lists h2{
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
}

ul.list{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 2px 0.5px rgb(42, 40, 40);
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.delete-list{
    position: absolute;
    top: 5px;
    left: 5px;
}

ul.list h3{
    margin-bottom: 15px;
    font-size: 1.4em;
    text-align: center;
}

li.item, li.new-item{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.item i{
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    transition: 0.5s;
}

li.item:hover i{
    color: rgb(0, 0, 0);
}

.item-property{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 21%;
}

.item p{
    width: 78%;
}

li.item input{
    height: 15px;
    width: 15px;
}

li.new-item{
    justify-content: flex-start;
}

li.new-item input{
    width: 70%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 8px 0 0 8px;
    border: 1px solid black;
    font-family: "Poppins";
    font-size: 1em;
}

li.new-item button{
    background-color: rgb(76, 76, 76);
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
    height: 30px;
    font-family: "Poppins";
}

.new-note-button{
    background-color: rgb(35, 35, 35);
    height: 60px;
    width: 60px;
    border-radius: 30px;
    border: none;
    position: fixed;
    right: 25%;
    bottom:10px;
}

.new-note{
    padding-top: 30px;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    border: none;
    align-items: center;
    scale: 0;
    animation: open 1s;
}

@keyframes open{
    0% {
        transform: scale(0);
    }

    100%{
        transform: scale(1);
    }
}

.new-note > div{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.new-note .close{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    right: 0px;
    top: 10px;
    /* background-color: black; */
}

.new-note form{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100%;
}

.new-note input{
    font-size: 1.5em;
    padding: 8px;
    width: 100%;
    height: 45px;
    font-family: "Poppins";
    border-radius: 5px;
    border: 1px solid rgb(60, 60, 60);
    box-sizing: border-box;
}

.new-note input:focus, .new-note textarea:focus{
    border: 1px solid rgb(60, 60, 60);
    outline: none;
}

.new-note textarea{
    font-size: 1em;
    margin: 14px 0;
    padding: 8px;
    width: 100%;
    height: 95%;
    font-family: "Poppins";
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgb(60, 60, 60);
}

.new-note button{
    cursor: pointer;
    width: 10%;
    height: 40px;
    background-color: rgba(111, 111, 255, 0.716);
    font-family: "Poppins";
    border: none;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.new-note button:hover{
    background-color: rgb(90, 90, 247);
}

@media screen and (max-width:1000px) {

    .property{
        margin: 0;
        width: 100%;
    }

    .content{
        flex-direction: column;
    }

    .content > section{
        width: 100%;
    }
}

@media screen and (max-width:720px) {
    .note h2{
        font-size: 1.3em;
    }

    .note p{
        font-size: 0.8em;
    }
}