/* START */

body{
    background-color: white;
    overflow-x:hidden;
<<<<<<< HEAD
  	font-family:"Poppins";
=======
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
}

main{
    background-color: white;
}

section.one{
    height: 700px;
    background-image: url(../../img/webimage/isolated-shot-surprised.jpg);
    background-position: top;
    background-size: 120%;
    background-repeat: no-repeat;
    object-fit: cover;
}

div.text{
    height: 500px;
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Poppins";
    margin: 30px;
}

h1{
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

p{
    font-size: 1em;
    margin-bottom: 30px;
}

section.one button{
    cursor: pointer;
    background-color: rgba(0, 0, 255, 0.486);
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 80px;
    color: white;
    font-family: "Poppins";
    transition: 0.5s;
}

section.one button:hover{
    background-color: rgb(110, 2, 129);
}

/* ---------------------------------------------------------------------- */

div.two{
    display: flex;
    position: absolute;
    width: 60%;
    justify-content: space-between;
    top: 450px;
    left: 20vw;
}

div.two div{
    box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.42);
    background-color: #E7E9EB;
    height: 400px;
    width: 30%;
    border-radius: 10px;
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
=======
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    /* outline: 6px solid #E7E9EB;
    border: 2px solid white; */
}

<<<<<<< HEAD
i{
    color: rgb(53, 53, 53);
}

div.two p, .carousel-inner > div > div p{
    text-align: center;
    font-size: 1em;

}

div.two h2, .carousel-inner > div > div h2{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.carousel-inner > div > div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

=======
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
/* ---------------------------------------------------------------------- */

section.three{
    background-color: white;
    padding-top:250px ;
    display: flex;
    /* padding-top: 400px;
    height: 800px;
    display: flex; */
}

div.left{
    width: 50%;
    text-align: right;
}
div.left img{
    width: 70%;
    border-radius: 100%;
}
div.right{
    width: 50%;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    height: inherit;
    flex-direction: column;
}

div.right div{
    width: 70%;
}

/* ---------------------------------------------------------------------- */

section.four{
    background-color: #0099ff;
    margin-top: -5px;
    font-family: "Poppins";
    height: 550px;
}

section.four > div{
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: space-evenly;
}

section.four h1{
    margin: 50px;
}

div.form{
    width: 100%;
    padding-bottom: 80px;
}

div.form ul{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.form li{
    width: 100%;
    text-align: center;
}


div.form li.nama input{
    width: 24%;
    margin-right: 7px;
}

form li > input{
    width: 50%;
}

form li input{
    border-radius: 5px;
    height: 35px;
    border: none;
    margin-bottom: 25px;
    font-family: "Poppins";
    padding: 10px;
    box-sizing: border-box;
}

li.sex{
    display: flex;
    justify-content: center;
    text-align: center;
}

li.sex input{
    width: 100%;
}

div.form button{
    background-color: blue;
    color: white;
    width: 110px;
    border: none;
    border-radius: 5px;
    height: 30px;
}


/* ---------------------------------------------------------------------- */

.tambalan{
    height: 151px;
    background-color: #0099ff;
}

footer{
    background-color: rgb(19,115,143);
    height: 150px;
    position: relative;
    z-index: 100;
    opacity: 1;
}

#carouselExampleIndicators{
    display: none;
}

.svg1{
    position: relative;
    z-index: -9;
}


@media screen and (max-width : 1024px){
    div.two{
        width: 80%;
        left: 10vw;
    }
    section.one{
        background-size: auto 100%;
    }
    div.text{
        width: 55%;
    }
}

@media screen and (max-width : 850px){
    /* section.one{
        height: 1000px;
        background-size: auto 100%;
        background-position-y: -30px;
    } */
    div.text{
        width: 70%;
    }
    
    div.two{
        width: 90%;
        left: 5vw;
    }

    div.two div{
        width: 32%;
    }
}

@media screen and (max-width : 650px){

    body{
        overflow-x: hidden;
    }

    .tambalan{
        display: none;
    }

    .ocean{
        display: none;
    }

    /* section.one{
        height: 570px;
        background-size: 1000px;
    } */
    div.text{
        width: 90%;
        height: 100%;
    }
    h1{
        font-size: 30px;
        font-weight: bold;
        color: white;
    }
    section.one p{
        color: white;
    }

    /*-------------------------------------------------------------------------*/

    div.two{
        display: none;
    }

    #carouselExampleIndicators{
        display: block;
    }

    div.carousel-inner{
        width: 90%;
        left: 5vw;
        height: auto;
        display: flex;
        text-align: center;
    }

    div.carousel-inner div{
        color: black;
<<<<<<< HEAD
        padding: 0 10px;
=======
        padding: 50px;
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
        box-sizing: border-box;
        width: 100%;
        background-color: rgb(211, 211, 211);
        height: 400px;
        border-radius: 10px;
        text-align: center;
        /* border: 3px solid rgb(52, 49, 49); */
        /* outline: 8px solid rgb(211, 211, 211); */
    }

    button.carousel-control-next, button.carousel-control-prev{
        color: black;
    }

    /*---------------------------------------------------------------------------------*/

    section.three{
        padding-top: 0px;
        margin: 50px;
        flex-direction: column;
    }

    div.left, div.right{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    section.four > div{
        width: 90%;
    }

    div.form li.nama input{
        width: 46%;
        margin-left:0.5%;
    }
    
    form li > input{
        width: 100%;
    }

    /*----------------------------------------------------------------------------------------*/


}


.ocean { 
    height: 5%;
    width: 99vw;
    position: relative;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg); 
    position: absolute;
    top: -1px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  
  .wave:nth-of-type(2) {
    top: 0px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 0.6;
  }
  
  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }
