/* STRAT */

body{
    background-color: rgb(56, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

h1{
    font-size: 2.5em;
    font-weight: bolder;
}

main{
    width: 40vw;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: 30vw;
    top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

ul{
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

li{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
}

div{
    display: flex;
    justify-content: space-between;
}

div input{
    width: 49%;
}

div.sex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type = radio]{
    width: 30px;
    height: 30px;
}

button{
    background-color: blue;
    color: white;
    font-family: "Poppins";
    height: 40px;
    width: 100px ;
    border-radius: 5px;
    border: none;
}