/* STRAT */

<<<<<<< HEAD
body {
=======
body{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    background-color: rgb(56, 53, 53);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

<<<<<<< HEAD
h1 {
=======
h1{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    font-size: 2.5em;
    font-weight: bolder;
}

<<<<<<< HEAD
main {
=======
main{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 40vw;
    height: 80vh;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    right: 30vw;
    top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

<<<<<<< HEAD
form {
=======
form{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

<<<<<<< HEAD
ul {
=======
ul{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

<<<<<<< HEAD
li {
=======
li{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

<<<<<<< HEAD
li.sex {
    flex-direction: row;
}

input {
=======
li.sex{
    flex-direction: row;
}

input{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid rgb(81, 81, 81);
<<<<<<< HEAD
    padding: 2px 12px;
}

div {
=======
}

div{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    justify-content: space-between;
}

<<<<<<< HEAD
div input {
    width: 49%;
}

div.sex {
=======
div input{
    width: 49%;
}

div.sex{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    display: flex;
    flex-direction: column;
    align-items: center;
}

<<<<<<< HEAD
input[type=radio] {
=======
input[type = radio]{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    width: 30px;
    height: 30px;
}

<<<<<<< HEAD
button {
=======
button{
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
    background-color: blue;
    color: white;
    font-family: "Poppins";
    height: 40px;
<<<<<<< HEAD
    width: 100px;
    border-radius: 5px;
    border: none;
}

@media screen and (max-width : 720px) {

    main {
        right: 10vw;
        width: 80vw;
    }

=======
    width: 100px ;
    border-radius: 5px;
    border: none;
>>>>>>> 8cc2ec5a25b3dd018acfdede28f1fd70b909961d
}